/****
** WHITE MENU BAR STYLES
****/

.sidebar {
  width: 100%;
  height: 62px;
  background: #ffffff;
  align-items: center;
}

.sidebar ul {
  max-width: 1080px;
  margin: auto;
  display: flex;
}

.sidebar ul::-webkit-scrollbar {
  display: none;
}

.sidebar ul li a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  color: #3f3f3f;
  font-size: 15px;
  font-weight: 500;
}

.sidebar ul li a:hover {
  transition: all 200ms;
  color: #1e86ff;
}

/****
**  ALL THE CONTENT OF DASHBOARD
****/

.content {
  width: 100%;
  min-height: calc(100vh - 56px);
}

@media (max-width: 716px) {
  .sidebar ul {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .sidebar ul li {
    display: inline-block;
  }
}

@media print {
  .ignorePrint {
    display: none;
  }
}
